<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>HACK</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>

        <div style="clear:both;"></div>
        <div class="register-div">
            <h1>Please Register🖋️<h1>
            <form action="/reg" method="post">
                <input type="text" placeholder="Enter Name" name="u_name">
                <input type="email" placeholder="Enter Email" name="u_email">
                <input type="number" placeholder="Enter Phone no" name="u_num">
                <input type="password" placeholder="Enter Password" name="u_pwd">
                <button id="reg-btn" type="submit">Register</button>
            </form>
        </div>

        <div class="Login-div">
            <h1>Please Login👤<h1>
            <form action="/login" method="post">
                <input type="email" placeholder="Enter Email" name="u_email">
                <input type="password" placeholder="Enter Password" name="u_pwd">
                <button id="log-btn" type="submit">Login</button>
            </form>
        </div>


    </body>

</html>